#root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2000;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
#rootContent {
  background-color: black;
}
