#root {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1001;
  top: 0px;
  left: 0px;
  height: 220px;
  padding: 40px;
  font-size: 140px;
  background-color: #0021A5;
  color: white;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
}
.rootCommodity {
  display: inline-block;
  font-weight: bold;
  margin-left: 150px;
}
.rootCommodityChangeIncrease {
  color: green;
}
.rootCommodityChangeDecrease {
  color: red;
}
