.title{
  font-weight: bold;
  text-align: center;
}
.dataMetric, .dataScale {
  margin-top: 10px;
}
.dataMetricTitle {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  color: rgb(255,255,255);
}
.dataMetricTitleChemicals{
  background-color: #70A37F;
}
.dataMetricTitleDiarrheal{
  background-color: #41658A;
}
.dataMetricTitleHelminths{
  background-color: #414073;
}
.dataMetricTitleInvasive{
  background-color: #4C3957;
}
.dataMetricValue {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 30px;
}
.dataMetricValueContainer {
  height: 100%;
}
.dataMetricValueContainerBar {
  border-right: 1px solid black;
  height: 100%;
  background-color: rgb(128,128,128);
  animation-name: bar;
  animation-duration: 2s;
}
.dataScaleValueRight {
  float: right;
}
@keyframes bar {
  from {width: 0%;}
  to {width: 100%;}
}
.contact {
  margin-top: 20px;
}
.contactTitle {
  font-weight: bold;
}
.contactOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.contactOptionsRead {
  text-align: center;
}
