#root {
  width: 100%;
  height: 100%;
  background-color: black;
}
#rootGlobe {
  fill: #0000FF;
}
.rootCountriesFeature {
    stroke: #fff;
    fill: #00FF00;
    stroke-width: .5px;
}
.rootLinesFeature {
    stroke: rgba(255, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.0);
}
